<div class="form-group" style="margin: 20px">
  <div *ngFor="let user of users">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4><b>{{user.name}}</b></h4>
          <p>{{user.email}}</p>
          <p>{{user.address.street}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
