<div class="row">
  <div class="col-sm-4"></div>
  <div class="container-fluid login col-sm-4">
    <form class="form-group">
      <h4 style="text-align: center; color: deepskyblue"><b>CMED Dashboard (Beta)</b></h4>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="credential.username" name="userId" placeholder="User ID">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="credential.password" name="password" placeholder="Password">
      </div>
      <div align="center">
        <button (click)="userLogin()" style="font-weight: bold; font-size: 14px" class="btn btn-primary">Sign In</button>
      </div>
      <div>
        <a>Register</a>
        <p>Forgot credentials? <a>Reset Password</a></p>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
