<nav class="navbar navbar-inverse" style="border-radius: 0; position: fixed; top: 0; width: 100%">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CMED HEALTH</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/posts">POSTS</a></li>
      <li><a routerLink="/users">USERS</a></li>
    </ul>

    <ul *ngIf="!isLoggedIn" class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="isLoggedIn" class="nav navbar-nav navbar-right">
      <li><a (click)="loggedOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<!--{{console.log(isLoggedIn)}}-->
<div style="padding: 25px"></div>
<router-outlet></router-outlet>
{{isLoggedIn}}
