<div class="form-group" style="margin: 20px">
  <div *ngFor="let post of posts">
    <div  class="card" (click)="deletePost(post.id)">
      <div class="card-body">
        <h4><b>{{post.title}}</b></h4>
        <p style="height: 40px">{{post.body}}</p>
      </div>
    </div>
  </div>
</div>
